<div class="nav">
    <h4 class="poppins-semibold">{{ title }}</h4>
</div>

<!-- forms -->
<section class="stock-entry-section">
    <p-card>
        <div class="form-fields">
            <p-floatLabel>
                <p-autoComplete 
                    [(ngModel)]="selectedItemId"
                    [suggestions]="filteredOptions"
                    (completeMethod)="searchItemId($event)"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="30"
                    (onSelect)="getItemId($any($event))"
                    (onBlur)="lostFocus($event)"
                />
                <label for="Item_no">Item No</label>
            </p-floatLabel>
            <p-floatLabel>
                <input type="text" pInputText id="Item_desc1" #partDesc [(ngModel)]="stockData.Item_desc1"  (ngModelChange)="stockData.Item_desc1"/>
                <label for="Item_desc1" >Part Description</label>
            </p-floatLabel>
            <div class="calender-field">
                <p-calendar 
                    id="StockDAte"
                    [showIcon]="true"
                    [iconDisplay]="'input'"
                    inputId="icondisplay"
                    placeholder="Stock Date"
                    [(ngModel)]="stockData.StockDAte"
                />
            </div>
            <p-floatLabel>
                <input type="text" pInputText id="mcNo" [(ngModel)]="stockData.Mcno"/>
                <label for="mcNo">McNo</label>
            </p-floatLabel>
            <p-floatLabel>
                <input type="text" pInputText id="stockQuantity" [(ngModel)]="stockData.StockQty"/>
                <label for="stockQuantity" >Stock Quantity</label>
            </p-floatLabel>
            <p-floatLabel>
                <input type="text" pInputText id="storeLoc" [(ngModel)]="stockData.storeloc"/>
                <label for="storeLoc" >Store Location</label>
            </p-floatLabel>
            <p-floatLabel>
                <input type="text" pInputText id="remarks" [(ngModel)]="stockData.Remarks"/>
                <label for="remarks" >Remarks</label>
            </p-floatLabel>
            <div class="form-field-buttons">
                <p-button label="Submit" [outlined]="true" severity="success" styleClass="p-button-success" (onClick)="saveStocks()"></p-button>
                <p-button label="Cancel" [outlined]="true" severity="danger" styleClass="p-button-danger"></p-button>
            </div>
        </div>
    </p-card>
</section>
<!-- table -->
<div class="table-responsive">
    <p-table
        #stocks
        styleClass="p-datatable-gridlines" 
        [value]="data"
        dataKey="Itemid"
        [resizableColumns]="true"
        columnResizeMode="expand"
        [exportHeader]="'customExportHeader'"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
    >
        <ng-template pTemplate="caption">
            <div style="text-align: left">
                <p-button 
                    icon="pi pi-external-link" 
                    label="Export" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Item_no" pResizableColumn>
                    Item No
                    <p-sortIcon field="Item_no" />
                </th>
                <th pSortableColumn="Item_desc1" pResizableColumn>
                    Part Desc
                    <p-sortIcon field="Item_desc1" />
                </th>
                <th pSortableColumn="Mcno" pResizableColumn>
                    McN
                    <p-sortIcon field="Mcno" />
                </th>
                <th pSortableColumn="StockDAte" pResizableColumn>
                    Stock Date
                    <p-sortIcon field="StockDAte" />
                </th>
                <th pSortableColumn="StockQty" pResizableColumn>
                    Stock Quantity
                    <p-sortIcon field="StockQty" />
                </th>
                <th pSortableColumn="Remarks" pResizableColumn>
                    Remarks
                    <p-sortIcon field="Remarks" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    {{item.Itemid}}
                </td>
                <td class="text-truncate" style="max-width: 100px;">
                    {{item.Item_desc1}}
                </td>
                <td>
                    {{item.Mcno}}
                </td>
                <td>
                    {{item.StockDAte | date: 'short'}}    
                </td>
                <td>
                    {{item.StockQty}}
                </td>
                <td class="text-truncate" style="max-width: 100px;">
                    {{item.Remarks}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<router-outlet />

<!-- 192.168.1.44:9003 -->