<div class="nav">
    <h4 class="poppins-semibold">{{ title }}</h4>
    <ng-container *ngIf="isLoggedIn">
        <div class="links">
            <h5 class="poppins-semibold" style="cursor: pointer;">{{ userName }}</h5>
            <h5 class="poppins-semibold" style="cursor: pointer;" (click)="handleLogut()">Logout</h5>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
        <h5 class="poppins-semibold" style="cursor: pointer;" >Login</h5>
    </ng-container>
</div>

<router-outlet/>