/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

* {
   box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F8FAFC;
    font-family: "Poppins", sans-serif;
}
  
.poppins-light {
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-weight: 600;
    font-style: normal;
}
  
.poppins-bold {
    font-weight: 700;
    font-style: normal;
}